body {
    display: flexbox;
    align-items:stretch;
    background-color:rgb(66, 66, 66);
}


.video-output {
    margin: 40px;
    padding: 20px;
  

}
.heading {
    color:white;
}


.footer {
    text-align: center;
    color: whitesmoke;
    position:fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}